.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .8rem;
  max-width: 95%;
  max-height: 100vh;
  overflow-y: scroll;
  margin: .5rem auto 1.2rem auto;
  padding: .8rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(#000, .5);
  background: $primary-color;
  scrollbar-base-color: transparent;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(#fff, .3); 
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media (max-width: 1020px) {
    grid-template-columns: 1fr;
    max-width: 70%;
  }

  @include breakpoint(xm) {
    max-width: 85%;
  }

  @media (max-width: 620px) {
    max-width: 95%;
  }

  @include breakpoint(m) {
    max-width: 98%;
    padding: .4rem;
    grid-gap: .4rem;
  }

  @include breakpoint(s) {
    min-width: 120%;
    padding: .4rem;
    grid-gap: .4rem;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}