.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  h1 {
    color: $primary-color;
    background: $neon;
    margin: 0;
    padding: .4rem 2.2rem .4rem 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    cursor: default;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    transition: all .5s;

    &:hover {
      clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
      color: $neon;
      background: $primary-color;
    }
  }
}
