.btn-logout, .btn-add, .btn-done, .btn-login {
  display: flex;
  align-self: center;
  color: $primary-color;
  background: $neon;
  font-size: 1.1rem;
  padding: .3rem 1rem;
  margin-right: 1rem;
  border-radius: 20rem;
  border: none;
  transition: color .3s, background .3s, transform .3s;

  &:hover {
    color: $neon;
    background: $primary-color;
    box-shadow: 0 0 5px 0 #fff;
  }

  &:focus {
    outline: none;
    color: $neon;
    background: $primary-color;
    box-shadow: 0 0 5px 0 #fff;
  }

  &:active {
    transform: scale(.95);
  }

  @include breakpoint(sf) {
    font-size: 1rem;
    padding: .3rem .8rem;
    margin-right: .4rem;
  }
}

.btn-add, .btn-done, .btn-login {
  width: 80%;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.btn-login {
  width: 100%;
  padding: .56rem;

  &:hover {
    box-shadow: 0 0 5px 0 $neon;
  }

  &:focus {
    box-shadow: 0 0 5px 0 $neon;
  }

  &:active {
    transform: scale(.98);
  }
}

.btn-done {
  background: rgba(#fff, 0.15);
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: 0 auto;
  color: #fff;
  width: 50%;
  box-shadow: 0 1px 5px 0 rgba(#000, .3);
  letter-spacing: .5px;
  transition: all .3s;

  &:hover {
    background: rgba(#fff, .3);
    color: #fff;
    box-shadow: 0 1px 5px 0 rgba(#000, .3);
  }

  &:focus {
    background: rgba(#fff, .3);
    color: #fff;
    box-shadow: 0 1px 5px 0 rgba(#000, .3);
  }

  &:active {
    box-shadow: 0 0 5px 0 rgba(#000, .3);
  }

  @media(max-width: 1500px) {
    width: 70%;
  }
}

.btn-actions {
  display: flex;
  align-self: center;

  &--vertical {
    flex-direction: column;
    
    i {
      margin: .2rem 0;
    }
  }

  i[class~='checkmark'], i[class~='close'] {
    cursor: pointer;
    transition: all .3s;

    &:active {
      transform: scale(.9);
    }

    &:focus {
      outline: none;
    }
  }

  i[class~='checkmark'] {
    color: #006E6D;
    margin-right: .3rem;

    &:hover {
      background: lighten(#006E6D, 75%);
    }

    &:focus {
      background: lighten(#006E6D, 75%);
    }
  }

  i[class~='close'] {
    color: $error;

    &:hover {
      background: lighten($error, 45%);
    }

    &:focus {
      background: lighten($error, 45%);
    }
  }
}

.btn-activate, .btn-reset {
  padding: .1rem .4rem;
  transition: all .3s;

  i.angle.right.icon {
    width: .5rem;
    font-size: 1.8rem;
    color: rgba(#fff, .4);
    cursor: pointer;
    animation: glow 1.25s linear infinite;
    margin-top: .3rem;
  }

  i.arrow1 {
    animation-delay: .1s !important;
  }

  i.arrow2 {
    animation-delay: .2s !important;
  }

  &:focus {
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 $cool-blue;
  }
}

.btn-activate {
  position: absolute;
  right: .6rem;
  bottom: .3rem;
}