.challengeNav {
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    border: 1px solid black;
    padding: 0 .4rem;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      font-weight: bold;
      outline: none;
    }

    &:not(:last-of-type) {
      margin-right: .4rem;
  
      &::after {
        content: '|';
        margin-left: .4rem;
      }
    }
  }
}