.chat {
  position: fixed;
  bottom: 0;
  max-height: 2.3rem;
  color: black;
  background: blue;
  border: 1px solid #fff;
  padding: .3rem;
  cursor: pointer;
  transition: max-height .2s ease-in;

  &-display {
    max-height: 15rem;
  }

  h3 {
    margin: .2rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 12rem;
    background: #fff;
    margin-top: .4rem;

    li {
      display: flex;
      justify-content: space-between;
    }

    &-message {
      display: flex;
      align-self: flex-end;
    }

    &-user {
      display: flex;
      flex-direction: column;

      img {
        margin: 0 auto;
      }

      p {
        font-size: .9rem;
      }
    }

    input {
      width: 98%;
    }

    p {
      margin: 0;
    }
  }

  &--small {
    right: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &--big {
    left: 50%;
    transform: translateX(-50%);
    min-width: 20rem;
  }
}