.challengeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 25rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(#000, .7);
  animation: fade .3s linear;

  &--current {
    height: 29rem !important;
    width: 50%;
    background: $primary-color;
    margin-bottom: 3rem;

    @include breakpoint(xl) {
      width: 65%;
    }

    @include breakpoint(l) {
      width: 70%;
    }

    @media (max-width: 880px) {
      width: 85%;
    }

    @include breakpoint(xm) {
      width: 95%;
    }

    @media (max-width: 620px) {
      min-height: 60rem !important;
    }
  }

  h3 {
    width: 100%;
    background: $neon;
    color: $primary-color;
    font-weight: 400;
    text-align: center;
    padding: .2rem 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background .3s;
  }

  &-title {
    text-align: center;
    margin: 3rem 0 0.2rem 0;
    
    & > span {
      position: relative;
      background: $primary-color;
      color: $neon;
      letter-spacing: .5px;
      padding: .6rem 9rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      i[class~='users'] {
        top: 18%;
        right: 1.5%;
        font-size: .9rem;
      }

      @include breakpoint(m) {
        padding: .6rem 8rem;
      }

      @include breakpoint(s) {
        padding: .6rem 7rem;
      }

      @include breakpoint(sf) {
        padding: .6rem 6rem;
      }
    }
  }

  .requested, .inactive {
    background: $cool-blue;
  }

  &__content {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: space-around;

    &--current {
      color: rgba(#fff, .75);

      @media (max-width: 620px) {
        flex-direction: column;
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; 
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    i.add.circle.big.icon {
      cursor: pointer;
      margin: 0;
      color: $neon;
      transition: all .3s;

      &:focus {
        outline: none;
        color: $cool-blue;
      }
    
      &:active {
        transform: scale(.9);
      }
    }

    i.add.circle.big.disabled.icon:active {
      transform: none;
    }

    @media(max-width: 520px) {
      height: 4rem;
      padding: 0 4rem;
    }

    @include breakpoint(s) {
      padding: 0 3rem;
    }
  }

  &-challenges {
    min-height: 15rem;
    border-left: 1px solid $neon;
    border-right: 1px solid $neon;
    margin-top: 2rem;
    margin-bottom: 2.4rem;
    padding: 0rem 1rem;

    &--current {
      @media (max-width: 620px) {
        border: none;
        border-top: 1px solid $neon;
        border-bottom: 1px solid $neon;
        margin: .4rem 0;
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(#000, .2); 
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    li {
      margin: .3rem 0;
      color: rgba(#000, .8);
    
      .number {
        margin-right: .3rem;
        color: $cool-blue;
      }
    }

    .standby {
      color: #fff;
    }

    .active {
      color: $cool-blue;
      width: 100%;

      hr {
        width: 6rem;
        height: 1px;
        margin-top: 1rem;
        border: none;
        border-top: 1px solid rgba(#fff, .08);

        @include breakpoint(xm) {
          margin-top: .6rem;
        }
      }

      & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 5;

        @media (max-width: 620px) {
          padding: 0 4rem;
        }

        @include breakpoint(m) {
          padding: 0 3rem;
        }

        @include breakpoint(s) {
          padding: 0 2rem;
        }

        @include breakpoint(sf) {
          padding: 0 0rem;
        }
      }

      @include breakpoint(xm) {
        font-size: .9rem;
      }

      @include breakpoint(m) {
        font-size: .8rem;
      }
    }

    @include breakpoint(m) {
      font-size: .9rem;
    }

    @media (max-width: 460px) {
      font-size: .8rem;
      min-height: 17rem;
    }

    @include breakpoint(s) {
      padding: 0 .6rem;
    }
  }

  &-team {

    .empty {
      justify-content: center;
      margin-left: 0;
    }

    &--current {
      i[class~='inverted'] {
         font-size: 1.8rem !important;
       }

      @media (max-width: 620px) {
        li {
          justify-content: center !important;
        }
      }
     }
    
    li {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin: .3rem 0;
      margin-left: 2rem;

      .name {
        display: flex;
        align-self: center;
        margin-left: .4rem;
        margin-right: 1rem;
        text-align: left;
      }
    }
  }

  &__error {
    color: $error;
    font-weight: bold;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    animation: slide-down .25s ease-in-out;
  }

  @media (max-width: 1020px) {
    height: 23rem;
  }

  @include breakpoint(s) {
    height: 22rem;
  }
}




