i[class~='users'] {
  position: absolute;
  top: 7.1rem;
  right: 26.5rem;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5) !important;
  transition: all .3s;
  animation: slide-content-right .6s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #fff !important;
  }

  &:active {
    transform: scale(.9);
  }
}

i.inverted.circular.icon {
  background: $neon !important;
  color: $primary-color !important;

  &:focus {
    color: $neon !important;
    background: $primary-color !important;
  }
}

.friendInfo {
  min-width: 20%;
  position: absolute;
  top: 9.7rem;
  right: 19.5rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  user-select: none;

  ul {
    padding: .8rem .4rem 1rem .6rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
    color: rgba(0, 0, 0, .8);

    span:first-of-type {
      display: flex;

      .name {
        display: flex;
        align-self: center;
        margin-left: .4rem;
      }
    }
  }

  &-title {
    color: $primary-color;
    text-transform: uppercase;
    border-bottom: 1px solid $neon;
    padding: .7rem .6rem;
    font-weight: 400;
  }

  &-arrow {
    position: absolute;
    left: 8.6rem;
    top: -1rem;
  }
}