i[class~='users'] {
  position: absolute;
  top: .6rem;
  right: 30.5%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(#000, .5) !important;
  transition: all .3s;
  z-index: 3;

  &:focus {
    box-shadow: 0 0 5px 0 #fff !important;
  }

  &:active {
    transform: scale(.9);
  }
}

i.inverted.circular.icon {
  background: $neon !important;
  color: $primary-color !important;

  &:focus {
    color: $neon !important;
    background: $primary-color !important;
  }
}

i[class~='adn'] {
  position: absolute;
  top: .3rem;
  left: .3rem;
  cursor: pointer;
  transition: all .3s;

  &:focus {
    color: #fff;
  }

  &:active {
    transform: scale(.9);
  }
}

.infoBox {
  min-width: 20%;
  position: absolute;
  top: 3.2rem;
  right: 22.9%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(#000, .4);
  user-select: none;
  z-index: 2;

  &--admin {
    width: 18.8rem;
    top: 2.2rem;
    left: -8rem;
  }

  &--challenge {
    width: 20rem;
    top: 2.8rem;
    left: 60%;
    font-size: .8em;
  }

  .proof {

    img, video {
      border-radius: 3px;
      box-shadow: 0 0 5px 0 rgba(#000, .7);
    }

    video {
      object-fit: cover;
    }
  }

  ul {
    padding: .8rem .4rem 1rem .6rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
    color: rgba(#000, .8);
    font-weight: 400;

    span:first-of-type {
      display: flex;

      .name, .reason {
        display: flex;
        align-self: center;
        text-align: left;
      }

      .name {
        margin-left: .7rem;
        margin-right: 1rem;
        text-align: left;
      }

      .highlight {
        display: flex;
        flex-direction: column;
        margin-left: .7rem;

        & > span {
          color: $cool-blue;
        }
      }
    }
  }

  &-title {
    text-align: left;
    color: $primary-color;
    text-transform: uppercase;
    border-bottom: 1px solid $neon;
    padding: .7rem .6rem;
    font-weight: 400;
  }

  &-arrow {
    position: absolute;
    left: 8.6rem;
    top: -1rem;

    &--challenge {
      left: 8.9rem;
    }
  }
}

.admin-error {
  color: $error;  
  position: absolute;
  font-weight: bold;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-down .25s ease-in-out;
}