.search {
  text-align: center;

  &__bar {
    input {
      width: 35%;
      border: none;
      background: $primary-color;
      color: rgba(#fff, 0.85);
      line-height: 1.4;
      padding: .6rem .6rem .6rem 1.2rem;
      border-radius: 10rem;
      box-shadow: 0 2px 5px 0 rgba(#000, .5);
      z-index: 5;
      position: relative;
  
      &::placeholder {
        color: rgba(#fff, 0.3);
      }
  
      &:focus {
        outline: none;
        box-shadow: 0 0px 7px 0 $neon;
      }

      @include breakpoint(l) {
        width: 45%;
       }

      @include breakpoint(m) {
        width: 70%;
       }

      @include breakpoint(s) {
        width: 85%;
       }
       
      @include breakpoint(sf) {
        width: 95%;
       }

      @include rotate {
        width: 70%;
      }
    }

    i {
      position: relative;
      margin-left: -2rem;
      color: rgba(#fff, 0.5);
      cursor: pointer;
      animation: none;
      z-index: 7;
      transition: all .3s;

      &:focus {
        color: rgba(#fff, 0.9);
      }

      &:active {
        transform: scale(.98);
      }

      &:hover {
        color: rgba(#fff, 0.9);
      }
    }
  }

  &__results {
    width: 100%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 4;

    ul {
      width: 33%;
      margin-top: -.3rem;
      margin-left: .7rem;
      background: $primary-color;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 0 5px 0 rgba(#000, .3);

      @include breakpoint(l) {
        width: 43%;
       }

      @include breakpoint(m) {
        width: 65%;
       }

      @include breakpoint(s) {
        width: 78%;
       }
       
      @include breakpoint(sf) {
        width: 88%;
       }
      
      @include rotate {
        width: 65%;
      }
    }

    li {
      padding: 1rem .7rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid  rgba(#fff, 0.06);
      color: rgba(#fff, 0.75);

      span:first-of-type {
        display: flex;
        align-items: center;

        .name {
          margin-left: .6rem;
          text-align: left;
        }
      }
    }

    &-actions {
      cursor: pointer;
      display: flex;
      align-self: center;
      margin-right: .7rem;
      margin-bottom: .3rem;
      
      i {
        color: rgba(#fff, 0.75);
        transition: all .3s;
      }

      i[title~='send'], i[title~='accept'] {
        &:hover, &:focus {
          color: #fff;
        }

        &:active {
          color: #fff;
          transform: scale(.90);
        }
      }
      
      i[title~='accept'] {
        color: #96deda;
      }
    }
  }
}
