.search {
  text-align: center;
  animation: slide-content-right .8s ease-in-out;

  ul {
    margin: 1rem auto;
    max-width: 20%;
  }

  &__result {
    display: flex;
    justify-content: space-around;

    &-add {
      cursor: pointer;
    }
  }
}