//Colors

$primary-color: #364860;
$secondary-color: #F2F7FA;
$neon: #4FF0C0;
$neon-gradient: linear-gradient(to right, #4FC8D1, $neon);
$profile-gradient: linear-gradient(to bottom right, #13547a, #80d0c7);
$card-gradient: linear-gradient(to bottom right, #09203f, #537895);
$card-text-color: rgba(255, 255, 255, .85);
$lighter-black: #485563;
$darker-white: #e4efe9;