//Colors

$primary-color: #364860;
$secondary-color: #F2F7FA;
$neon: #4FF0C0;
$cool-blue: #4FC8D1;
$another-blue: #a3bded;
$neon-gradient: linear-gradient(to right, $cool-blue, $neon);
$profile-gradient: linear-gradient(to bottom right, #13547a, #80d0c7);
$card-gradient: linear-gradient(to bottom right, #09203f, #537895);
$card-text-color: rgba(#fff, .85);
$lighter-black: #485563;
$darker-white: #e4efe9;
$error: #BD3D3A;

//Breakpoints

@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: 320px) { @content; }
  }

  @if $size == sf {
    @media (max-width: 360px) { @content; }
  }

  @if $size == s {
    @media (max-width: 420px) { @content; }
  }

  @if $size == m {
    @media (max-width: 560px) { @content; }
  }

  @if $size == xm {
    @media (max-width: 720px) { @content; }
  }

  @if $size == l {
    @media (max-width: 1080px) { @content; }
  }

  @if $size == xl {
    @media (max-width: 1200px) { @content; }
  }

  @if $size == g {
    @media (max-width: 1600px) { @content; }
  }
}

@mixin rotate {
  @media (max-width: 840px) and (max-height: 450px) { @content }
}