.leaderboard {
  display: flex;
  justify-content: center;
  animation: slide-content-left .7s ease-in-out;

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 45rem;
  }
}