html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// legend {
//   margin: 0;
// }

label {
  display: block;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;

  &:visited {
    color: inherit;
  }
}