html {
  box-sizing: border-box;
  background-image: url("https://res.cloudinary.com/qamnodeapp/image/upload/q_100/v1547173360/reactapp/paper_texture_11.png");
  // background-image: url("https://res.cloudinary.com/qamnodeapp/image/upload/q_100/v1547173353/reactapp/Seamless_Polygon_Backgrounds_Vol2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

html, body, main {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// legend {
//   margin: 0;
// }

label {
  display: block;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;

  &:visited {
    color: inherit;
  }

  &:focus {
    outline: none;
  }
}

i:focus, button {
  outline: none;
}